{% extends 'base.html' %}
 
{% block content %} 
<form action="." method="post">
    {% csrf_token %}
<div class="question ml-sm-5 pl-sm-5 pt-2">
    {% for ques in object_list %}
    <div class="py-2 h5"><b>{{forloop.counter}}. &nbsp; {{ques.text}}</b></div>
        {% if ques.question_type.name == "select" %}
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options-{{ques.id}}">
                <ul class="list-group">
                    {% for choice in ques.question_choice_set.all %}
                        <label class="options"><input type="radio" name="options-{{ques.id}}" value="{{choice.text}}"> <span class="checkmark"></span>&nbsp;{{choice.text}}</label>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% for choice in ques.question_choice_set.all %}
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3">
                <label class="options"><input type="checkbox" name="options-{{ques.id}}" value="{{choice.text}}"> <span class="checkmark"></span>&nbsp;{{choice.text}}</label>
                
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary" id="submit-test">Submit</button>
</div>
</form>
{% endblock %}
